<ManagedElement
	xmlns="urn:3gpp:sa5:_3gpp-common-managed-element">
	<id>GNB-1</id>
	<priorityLabel>1</priorityLabel>
	<GNBCUCPFunction
		xmlns="urn:3gpp:sa5:_3gpp-nr-nrm-gnbcucpfunction">
		<id>1</id>
		<priorityLabel>1</priorityLabel>
		<resourceType>RRU</resourceType>
		<rRMPolicyMemberList>
			<mcc>226</mcc>
			<mnc>04</mnc>
			<sd>0003e8</sd>
			<sst>1</sst>
		</rRMPolicyMemberList>
		<rRMPolicyMemberList>
			<mcc>226</mcc>
			<mnc>04</mnc>
			<sd>0003e9</sd>
			<sst>1</sst>
		</rRMPolicyMemberList>
		<rRMPolicyMemberList>
			<mcc>226</mcc>
			<mnc>04</mnc>
			<sd>0003ea</sd>
			<sst>1</sst>
		</rRMPolicyMemberList>
		<gNBId>10000</gNBId>
		<gNBIdLength>32</gNBIdLength>
		<gNBCUName>GNB-1-CU-1</gNBCUName>
		<pLMNId>
			<mcc>226</mcc>
			<mnc>04</mnc>
		</pLMNId>
		<NRCellCU
			xmlns="urn:3gpp:sa5:_3gpp-nr-nrm-nrcellcu">
			<id>2</id>
			<priorityLabel>1</priorityLabel>
			<cellLocalId>2</cellLocalId>
			<pLMNInfoList>
				<mcc>226</mcc>
				<mnc>04</mnc>
				<sd>0003e8</sd>
				<sst>1</sst>
			</pLMNInfoList>
		</NRCellCU>
		<NRCellCU
			xmlns="urn:3gpp:sa5:_3gpp-nr-nrm-nrcellcu">
			<id>3</id>
			<priorityLabel>1</priorityLabel>
			<cellLocalId>3</cellLocalId>
			<pLMNInfoList>
				<mcc>226</mcc>
				<mnc>04</mnc>
				<sd>0003e8</sd>
				<sst>1</sst>
			</pLMNInfoList>
		</NRCellCU>
	</GNBCUCPFunction>
</ManagedElement>